.card {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 23.75rem;
  height: 28.5rem;
}

.name {
  padding: 0;
  color: #272727;
  font-size: larger;
  font-family: "Montserrat", sans-serif;
}

.price {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #272727;
}

@media (max-width: 400px) {
  .container {
    width: 20rem;
    height: 24rem;
  }
}
