.card {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin: 0;
  padding: 0;
}

.price {
  padding-top: 1.25rem;
  margin: 0;
  font-family: sans-serif;
}
