.card {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.name {
  margin: 0;
  padding: 0;
}

.price {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(146, 146, 146);
}
