.gridBio {
  margin-top: 4rem;
  width: 100%;
  display: grid;
  grid-template-areas: "cl img tx tx cr";
  grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
}

.leftCard {
  grid-area: img;
}

.tx {
  grid-area: tx;
  display: flex;
  flex-direction: column;
  max-width: max-content;
  margin-left: 1rem;
}

.name {
  align-self: center;
  font: 700 1.3rem "Montserrat", sans-serif;
}

.bio {
  font: 500 1rem "Montserrat", sans-serif;
  text-align: justify;
}

@media (max-width: 950px) {
  .gridBio {
    grid-template-areas:
      "cl img cr"
      "cl tx cr";
    grid-template-columns: 0.3fr 1fr 0.3fr;
    justify-content: center;
  }

  .leftCard {
    justify-self: center;
  }
}

@media (max-width: 400px) {
  .leftCard {
    width: 351px;
  }
  .tx {
    align-items: center;
  }

  .bio {
    width: 80%;
  }
}
