.gridC {
  display: grid;
  grid-template-areas: "cl tx img cr";
  grid-template-rows: 10rem auto;
  grid-template-columns: 0.3fr 2fr 1fr 0.3fr;
  margin-top: 3rem;
}

.txt {
  grid-area: tx;
  min-width: fit-content;
  height: 2rem;
  font-family: sans-serif;
  text-align: justify;
  width: 90%;
}

.emailLink {
  height: 1rem;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

.rightBar {
  grid-area: img;
}
@media (max-width: 850px) {
  .gridC {
    grid-template-areas: "cl tx cr";
    grid-template-rows: auto;
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }

  .rightBar {
    display: none;
  }
}
