.gallery {
  display: grid;
  grid-template-areas: "print print print print";
  width: 90vw;

  justify-content: space-between;
}

@media (max-width: 1370px) {
  .gallery {
    grid-template-areas: "print print print";
  }
}

@media (max-width: 1300px) {
  .gallery {
    grid-template-areas: "print print";
  }
}

@media (max-width: 910px) {
  .gallery {
    grid-template-areas: "print";
    justify-content: center;
    width: 100vw;
  }
}
