.menu {
  display: flex;
  justify-content: space-evenly;
  min-width: 80vw;
}

.menuUl {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  max-width: 56.25rem;
}

.link {
  text-decoration: none;
  color: #666;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.link:hover {
  color: #272727;
}

.active {
  color: #000;
}
