.menu {
  display: flex;
  justify-content: center;
}

.menuUl {
  margin: 0;
  padding: 0;
  width: 80%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  max-width: 900px;
}

.link {
  text-decoration: none;
  color: #666;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.active {
  color: #272727;
}
