.footer {
  width: 90vw;
  align-self: center;

  margin-top: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 3rem;

  border-top: 1px solid #6666665e;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
}

.instagram {
  height: 18px;
  width: 18px;
}

.copy {
  color: gray;
  font-size: 0.85rem;
}

@media (max-width: 360px) {
  .footer {
    width: 95vw;
  }
}
