.footer {
  margin-top: auto;
  padding: 0;
  width: 90%;
  align-self: center;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.fineLine {
  margin-block: 2rem;
  height: 1px;
  width: 100%;
  background-color: lightgray;
  align-self: center;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: inherit;
}

.instagram {
  height: 18px;
  width: 18px;
}

.copy {
  color: gray;
  font-size: 0.85rem;
}

@media (max-width: 360px) {
  .footer {
    width: 95%;
  }
}
