.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  align-self: center;

  width: 80%;
}

.image {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  cursor: pointer;

  width: 20rem;

  padding: 1rem;

  align-items: center;

  border: 1px solid #666;
  border-radius: 1rem;
}

.imageWrapper {
  width: 13rem;
  height: 13rem;
  position: relative;
}
