.layout {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
}

.form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  font: 1.2rem sans-serif;
}

.select {
  width: 5.3rem;
  height: 1.5rem;
  font-size: 1.2rem;

  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: 0;
}

.option {
  border-radius: 0;
  background-color: transparent;
  text-align: center;
  border: 0;
  border-color: transparent;
  box-shadow: transparent;
}

.photoLb {
  width: fit-content;
}

.photo {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: 0;
}

.preview {
  background-color: transparent;
  border: 0;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.photoName {
  width: 12rem;
  height: 1.4rem;
  border: 0;
  border-bottom: 1px solid lightgray;
  outline: none;

  font-size: 1.2rem;
}

.price {
  width: 7rem;
  height: 1.4rem;
  border: 0;
  border-bottom: 1px solid lightgray;
  outline: none;
  font-size: 1.2rem;
}
